@model HomeSite.Models.Room

@{
    ViewBag.Title = "RoomsPrice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" href="~/Content/datepicker.min.css" />
<script src="@Url.Content("~/Content/Scripts/datapicker.js")"> </script>
<script src="@Url.Content("~/Content/Scripts/buy_menu.js")"> </script>
<script >
    function validate_form() {
        valid = true;

        if (document.getElementById("email").value == "") {
            alert("Пожалуйста заполните поле 'E-mial'");
            valid = false;
        }
        if (document.getElementById("person").value == "") {
            alert("Пожалуйста заполните поле 'Имя'");
            valid = false;
        }
        return valid;
    }
    function OnSuccess(data) {
        document.getElementById('mask').style.display = "block";
        setTimeout("document.location.href='http://localhost:19070/'", 5000);
    }
    function OnFailure(request, error) {
        alert("Что-то пошло не так")
    }
</script>


<div id="message">
    
</div>
<div id="back_image"></div>
<div id="container_entertainment_bg">
    <div id="entertainment_bg"></div>
    <div id="page_container">
        <div id="container_entertainment_header">
            <div id="entertainment_header">
                <span>Номера и цены </span>
            </div>
        </div>
        <div id="container_price">
            <div id="price">
                <div id="room_overview">
                    <div>
                        <div id="back">@Html.ActionLink("<Назад", "RoomsPrice")</div>
                        <div id="room_name">@Model.Name</div>   
                    </div>
                    <div id="room_img">
                        <ul class="slidewrapper" data-current="0">
                            @for (int i = 0; i < Model.nameImage.Split(',').Length; i++)
                            {
                                <li class="slide">
                                    <img class="slider_img" src=~/Content/Media/Rooms/@Model.nameImage.Split(',')[i]>
                                </li>
                            }
                        </ul>
                        @if (Model.nameImage.Split(',').Length > 1)
                        {
                            <a href="javascript: void(0)" id="prev_slide" class="arrow"><img src="~/Content/Media/Icons/left.png" /></a>
                            <a href="javascript: void(0)" id="next_slide" class="arrow"><img src="~/Content/Media/Icons/right.png" /></a>
                        }
                    </div>
                    <div id="buy">
                        <span>от</span>
                        <br />
                        <span class="number_cost">@Model.Cost руб</span>
                        <br />
                        <span>за ночь</span>
                        @using (Ajax.BeginForm("AddOrder", "Room", new AjaxOptions { UpdateTargetId = "message", InsertionMode = InsertionMode.Replace, OnBegin = "validate_form", OnSuccess = "OnSuccess", OnFailure = "OnFailure"}))
                        {
                            
                            <input type="text" name="id" hidden="hidden" value=@Model.roomID />
                            <span>Заезд</span>
                            <input type="date" name="incoming" max="2017-08-31" min="2017-06-01" placeholder="Заезд" />
                            <span>Выезд</span>
                            <input type="date" name="outcoming" max="2017-08-31" min="2017-06-01" placeholder="Выезд" />
                            @Html.TextBox("person",null, new { @placeholder = "Иванов Иван"})
                            @Html.TextBox("tel",null,new { @placeholder = "+7(123)-456-78-90"})
                            @Html.TextBox("email", null, new { @placeholder = "ivanov@mail.ru"})
                            <input type="submit" id="push"  value="Забронировать" />
                        }
                    </div>
                </div>
                <div id="room_param">
                    <div id="params">
                        <span class="header_param">Параметры</span>
                    </div>
					<div id="size" class="param">
							<span class="header_param">Вмещает гостей:</span>
							<span>@Model.Size</span>
					</div>
                    <div id="incoming" class="param">
                        <span class="header_param">Заезд и Выезд:</span>
                        <span>Заезд: 14:00</span>
                        <span>Выезд: 12:00</span>
					</div>
                    <div id="room_beds" class="param">
							<span class="header_param">Кровати:</span>
							<span>@Model.Beds</span>
					</div>
					<div id="room_options" class="param">
							<span class="header_param">Удобства:</span>
							<span>@Model.Options </span>
					</div>
                </div>
            </div>
        </div>
    </div>
    <script src=@Url.Content("~/Content/Scripts/Slider.js") type="text/javascript"></script>
</div>

